$primary-color: #6697D8;
$secondary-color: #112E80;
$gray: #C5CFD7;
$dark-gray: #343434;

$bg-top-color: #e9cbcc;
$bg-bottom-color: #14446c;

$cool-red: #C12722;
$coolest-red: #FF4838;
$cool-yellow: #F0E35D;