* {
	box-sizing: border-box;
}

html {
	font-size: 16px;

	@media only screen and (max-width: 1700px) {
		font-size: 14px;
	}
}

h1 {
	font-family: $header-font-family;
	@include font-size(2);
}

h2 {
	font-family: $header-font-family;
	@include font-size(1.6);
	margin: 0 0 16px;
}

h3 {
	font-family: $header-font-family;
	@include font-size(1.4);
}

h4, h5, h6 {
	font-family: $body-font-family;
	@include font-size(1.2);
	margin: 0 0 16px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $header-font-family;
	line-height: 2;
	font-weight: 600;
}

body {
	font-family: $body-font-family;
	line-height: 1.6;
	position: relative;
	
	&.logged-in {
		background-image: none;
		background: linear-gradient( 0deg, $bg-bottom-color, $bg-top-color );
	}

	background: {
		color: darken($primary-color, 5%);
		image: url(../images/ics-class-login-background.jpg);
		size: cover;
		position: top right;
		repeat: no-repeat;
	}


	height: initial;

	@media screen {
		min-height: 100vh;
	}
}

.clearfix {
	width: 100%;
	clear: both;
}

.main {
	color: white;
	padding: 10px 30px 0;
	width: $main-width;
	display: flex;
	align-content: stretch;

	& > h1 {
		text-align: center;
		width: 100%;
		font-size: 2.6rem;
		letter-spacing: 2px;
		text-shadow: 0 0 12px darken($gray, 30%);
	}
}

.missing-link-error {
	color: $cool-red;
}