header {
	width: 30%;

	@media only screen and ( max-width: 980px ) {
		width: 50%;
	}

	@media only screen and ( max-width: 770px ) {
		width: 100%;
	}

	padding: $header-padding;
	background: white;
	color: $darken-gray;
	z-index: 10;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	height: 100vh;
	background: white;
	float: left;

}

body.logged-in header {
	float: none;
	width: 100%;
	height: auto;
	flex-direction: row;
	align-items: center;
	padding: 0 20px;
	margin-bottom: 50px;
}

.logo {

	& > img { width: 100%; }

	width: 40%;
	max-width: 175px;
	margin: 0 auto 32px;
	
}

.copyright {
	font-size: 0.9rem;
	line-height: 1.6;
	margin-top: 40px;
}