$darken-gray: darken($gray, 40%);
$header-width : 40%;
$main-width: (100% - $header-width);
$loggedin-header-width: 280px;
$loggedin-main-width: 100%;
$header-padding: 20px;

//REM to Pixel Mixin
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 16) + px;
  font-size: $sizeValue + rem;
}

%smooth-animation {
	transition: all 0.2s ease-in-out;
}

%flexbox-box {
  display: flex;
  flex-flow: row wrap;
}

%absolutely {
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  width: 100%;
  height: 100%;
}

%max-width {
  max-width: 1080px;
}

.animated {
  animation-duration: 0.75s;
  animation-fill-mode: both;
}

@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-7px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(7px, 0, 0);
  }
}

.shake {
  animation-name: shake;
}