.login-form {
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.status-message {
	padding: 8px 20px;
	margin-bottom: 12px;
}

.login-loading-animation {
	@extend %absolutely;
	background: rgba(255, 255, 255, 0.7) url('../images/background-spinner.gif') center 30% no-repeat;
	display: none;
}

form.cs-login-form {
	margin-bottom: 21px;

	label {
		display: block;
		font-size: 1rem;
		padding-bottom: 8px;
	}

	input {
		border: none;
		width: 100%;
		height: 45px;
		margin: 0 auto 28px;
		padding: 12px;

		&[type="text"], &[type="password"] {
			background: lighten($gray, 5%);
			border: 1px solid lighten($primary-color, 15%);
		}
	}

	input[type="checkbox"] {
		width: 13px;
		height: 13px;
		top: -1px;
		
		margin-right: 10px;
	}
}

.icsforms-submit-button {
	position: relative;
	display: flex;
	justify-content: space-between;

	label {
		margin-top: 12px;
		display: block;
	}

	input[type="submit"] {
		width: 100px;
		height: 40px;
		margin: 0;
		background: $primary-color;
		color: white;
	}
}