body.logged-in .main {
	width: 100%;
}

.main-content {
	background: white;
	color: $dark-gray;
	width: 95%;
	margin: 0 auto;
	padding: 40px 50px;
	min-height: 100vh;
	position: relative;
}

p.back-button {
	position: absolute;
	top: -30px;
	left: -20px;
	text-decoration: none;
	padding: 8px 20px;
	color: white;
	background: $bg-bottom-color;
	
	a {
		color: white;
		text-decoration: none;
	}
}

ul.ics-forms {
	padding: 0;
	list-style: none;
	@extend %flexbox-box;
	justify-content: space-between;
	margin: 32px 0;

	li {
		background: $primary-color;
		width: 30%;

		@media only screen and (min-width: 1720px) {
			width: 22%;
		}

		@media only screen and (max-width: 1080px) {
			width: 45%;
		}

		@media only screen and (max-width: 640px) {
			width: 100%;
		}

		margin-bottom: 32px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: stretch;
		@extend %smooth-animation;
		
		a {
			display: block;
			text-decoration: none;
			color: white;
		}
		
		&:hover {
			transform: scale(1.001);
			box-shadow: 0 0 16px lighten($dark-gray, 15%);
		}
	}
}

.forms-title {
	text-align: center;
	padding: 4px 20px;
	background: $bg-bottom-color;
	color: $gray;
	letter-spacing: 1px;

	h3 {
		line-height: 1;
		font-weight: 400;
	}
}

.figure {
	background: $bg-bottom-color url('../images/standard-document-background.jpg') center center no-repeat;
	background-size: cover;
	width: 100%;
	height: 250px;
}

.forms-text {
	background: $primary-color;
	padding: 8px 30px;

	a { color: white; }

}

.forms-link {
	@extend .forms-text;
	background: darken($primary-color, 10%);
}

.important-notes-1 {
	padding: 12px 30px;
	background: $cool-yellow;
	border: 1px solid darken($cool-yellow, 10%);
	margin-bottom: 32px;
	@extend %max-width;
}

.important-notes-2 {
	padding: 12px 30px;
	color: white;
	background: $coolest-red;
	border: 1px solid darken($coolest-red, 10%);
	@extend %max-width;
}