.logo-logged-in {
	height: 75px;
	@extend %flexbox-box;
	align-items: center;

	img { 
		height: 100%;
		margin-right: 20px;

		@media only screen and ( max-width: 1070px ) {
			display: none;
		}
	}
}

ul.nav {
	display: table;
	list-style: none;

	li { 
		display: table-cell;

		a {
			text-decoration: none;
			display: block;
			padding: 12px 20px;
			color: $bg-bottom-color;
		}
	}

	
	li.logout-button {
		background: $cool-red;
		max-width: 260px;

		a {
			color: white;
			text-decoration: none;
		}
	}
}

@media only screen and (max-width: 880px) {
	ul.nav li a {
		text-align: center;
		i, span { display: block; }
	}
}