.search-form {

	position: relative;

	input.search-field {
		// line-height: 1.6;
		padding: 12px 24px;
		background: lighten($gray, 10%);
		color: $dark-gray;
		width: 300px;

		@media only screen and ( max-width: 1070px ) {
			width: 50%;
		}

		border: none;
	}

	button.search-submit {
		@extend input.search-field;
		background: transparent;
		width: 60px;
		line-height: 1;
		margin-left: -10px;
		position: absolute;
		right: 0;
		top: 0;
	}
}