table {
	font-size: 0.9rem;
	width: 100%;
	margin: 32px 0;
	@extend %max-width;

	thead {
		display: table-header-group;
	}

	thead > tr {
		background-color: $primary-color;
	}

	th {
		font-weight: normal;
		color: white;
		text-align: center;
		padding: 8px 12px;
		border: 1px solid white;

		&.short-short-number {
			width: 1%;
		}

		&.short-number {
			width: 2%;
		}

		&.number {
			width: 5%;
		}

		&.short-title {
			width: 10%;
		}

		&.middle-title {
			width: 15%;
		}

		&.title {
			width: 33%;
		}

		&.sort {
			cursor: pointer;
		}
	}

	tr {
		background: white;

		&:nth-child(even) {
			background: lighten($gray, 15%);
		}
	}
	
	tbody > tr:hover {
		background: lighten($gray, 10%);
	}

	td {
		border: 1px solid darken($gray, 15%);
		padding: 8px;
		
		&.centered {
			text-align: center;
		}

		&.align-right {
			text-align: right;
		}

		i.fa.fa {
			font-size: 1.4em;
		}

		i.fa-check-circle, i.fa-times-circle {
			padding: 8px 22px;
			/* color: white; */
		}

		&.paid, &.edit {
			padding: 0;
		}

		&.yes {
			color: lighten($secondary-color, 6%);
		}

		&.no {
			color: saturate($cool-red, 15%);
		}

		&.total {
			font-weight: bold;
			text-align: right;
		}

		&.government-fee {
			border-bottom: 2px solid $gray
		}

		&.total-price {
			border-bottom: 3px solid $gray;
			font-weight: bold;
		}


		a {
			color: darken($primary-color, 15%);
			text-decoration: none;
			display: block;

			&:hover {
				color: darken($primary-color, 20%);
			}
		}

		&.edit {
			i.fa.fa { 
				color: darken($cool-red, 25%);
			}
		}
	}

	tfoot {
		border-top: 2px solid $gray;
		display: table-row-group;
	}
}